html
    head
        title My first Express fake login
    body
        h1 Welcome! 
        h1 Register to start browse our site.  
        a(href= '/auth/google')
            button(type="button") Register  