html
    head
        title My first Express fake login
    body
        h1 Welcome in login page! 
        h1 Please fill your fields below and click login
        form
        div.form-group
        label(for='name') Name:
        input#name.form-control(type='text')
        div.form-group
        label(for='last_name') Last name:
        input#last_name.form-control(type='text')
        form
        a(href= url)
            button(type="button") Login  